<!DOCTYPE html>
<html>

<body>
    <form action="/api/MyPing" method="post">
        <table>
            <tr><th>Place</th> <th>type</th></tr>
            <tr><td>Card Cash</td> <td>FTE</td> </tr>

            <tr><td>-----</td> <td>----</td> </tr>
            <tr><td><input type="tel" value="555-1212" name="fld01" /> </td> <td>----</td> </tr>

            <tr><td><button type="submit" value="submit"> submit you</button></td> <td>post</td> </tr>
        </table>

        <h1>hi im html</h1>
        <a href="/api/MyPing?what=TF"> MyPing</a>
    </form>
</body>
</html>