<!DOCTYPE html>
<html>
<head>
    
 
</head>


<form action="/api/MyPing" method="post" >
    <body>
       
        <span id="staticdataTableSPAN" style="color:red"> ddddd </span>

        <table id="staticdataTable" class="display" cellspacing="0" width="100%" border="0">
        </table>
        <h1>this is a test </h1>
    </body>
</form>
</html>